<!DOCTYPE html>
<html>
  <head>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
  <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>  
  </head>
  


<div class="container">
    <div class="row">
        <div id="signupbox" style="margin-top:50px" class="mainbox col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
            <div class="panel panel-info">
                <div class="panel-heading">
                    <div class="panel-title">Details Form</div>
                     </div>  
                <div class="panel-body" >
                    <form action="/form" id="EmployeeForm" class="form-horizontal" method="post"  role="form">
                        
                        <div id="signupalert" style="display:none" class="alert alert-danger">
                            <p>Error:</p>
                            <span></span>
                        </div>
                            
                        <div class="form-group">
                            <label for="firstname" class="col-md-3 control-label">Name</label>
                            <div class="col-md-9">
                                <input type="text" class="form-control" name="bname" placeholder="Enter Brand Name">
                            </div>
                        </div>
                          
                        <div class="form-group">
                            <label for="color" class="col-md-3 control-label">Color</label>
                            <div class="col-md-9">
                                <input type="text" class="form-control" name="color" placeholder="Color">
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="category" class="col-md-3 control-label">Category</label>
                            <div class="col-md-9">
                                <input type="text" class="form-control" name="category" placeholder="Enter The Category">
                            </div>
                        </div>
                            
                        
                        <!-- <div class="form-group">
                            <label for="lastname" class="col-md-3 control-label">Employee Type</label>
                            <div class="col-md-9">
                                <select class="form-control" name="emptype">
                                <option value="Hourly">Hourly</option>
                                <option value="Fixed">Fixed</option>
                                </select>
                            </div>
                        </div>
                         -->
                            
                        <!-- <div class="form-group">
                            <label for="icode" class="col-md-3 control-label"> Total Hour</label>
                            <div class="col-md-9">
                                <input type="text" class="form-control" name="ttlhr" placeholder="Enter Total Hours">
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="icode" class="col-md-3 control-label"> Profile Image</label>
                            <div class="col-md-9">
                                <input type="file" class="form-control" name="file" >
                            </div>
                        </div> -->

                        <div class="form-group">
                            <!-- Button -->                                        
                            <div class="col-md-offset-3 col-md-9">
                            <input type="submit" name="submit" value="submit" class="btn btn-primary">   
                            </div>
                        </div>
                        
                        
                        
                        
                        
                    </form>
                 </div>
            </div>

</html>