<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>New Notification</title>
</head>
<body>
    
    <% for (index in result) { %>
           
            <% if (currentUser._id == result[index].senderId) {%>
                <% if (result[index].isAccept === 1) {%>
                    
                    <a href="/box/<%= result[index].id %>"><h3>View ur lost prodcut</h3></a>
                <% } else if (result[index].isAccept === 0){%>
                    <h2>Ur Request has been sent</h2>
                <% } else { %>
                    <h2>Sorry ur Product was not found by <%= result[index].receiverID.fullname %></h2>
                <% } %>
            <%} else { %>
                <% if (result[index].isAccept == 0) { %>
                    <a href="/accept/<%= result[index]._id %>"><button class="button">Accept</button></a>
                    <a href="/reject/<%= result[index]._id %>"><button class="button">Reject</button></a>
                    <br>
                <% } %>

          <% } %>
    
    <% } %>

</body>
</html>