<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>The Box</title>
  <meta content="" name="description">

  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="/img/favicon.png" rel="icon">
  <link href="/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="/vendor/aos/aos.css" rel="stylesheet">
  <link href="/vendor/remixicon/remixicon.css" rel="stylesheet">
  <link href="/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">
  <link href="/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">

  
  <link href="/css/style.css" rel="stylesheet">
  <link href="/css/thebox.css" rel="stylesheet">

  

</head>
<body>


  <!-- ======= Header ======= -->
  <header id="header" class="header fixed-top">
    <div class="container-fluid container-xl d-flex align-items-center justify-content-between">

      <a href="/" class="logo d-flex align-items-center">
        <img src="/img/logo.png" alt="">
        <span>The LostBox</span>
      </a>

      <nav id="navbar" class="navbar">
        <ul>
          <li><a class="nav-link scrollto active" href="/">Home</a></li>         
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav><!-- .navbar -->


    </div>
  </header><!-- End Header -->
        
        <br>

        <div class='spacing'>
            <% if(typeof messages.error != 'undefined'){ %>
                <div class="alert alert-danger p-2" role="alert">
                    <%= messages.error %>
                </div>
            <% } %>
            <% if(typeof messages.info != 'undefined'){ %>
                <div class="alert alert-primary p-2" role="alert">
                    <%= messages.info %>
                </div>
            <% } %>
        
            <p style="font-size:40px;color: black;">Reset Password</p>
            <hr>
            <form action="/reset" method="POST">
              <input type="hidden" name="token" id="token"/>
              <div class="form-group">
                  <label for="exampleInputPassword1"><b>New Password</b></label>
                  <input type="password" class="form-control" id="exampleInputPassword1" placeholder="New Password" name="password">
                </div>
                <br>
                <div class="form-group">
                  <label for="exampleInputPassword2"><b>Confirm Password</b></label>
                  <input type="password" class="form-control" id="exampleInputPassword2" placeholder="Confirm Password" name="cpassword">
                </div>
                <br>
              <button type="submit" class="btn btn-primary">Update Password</button>
            </form>
          </div>
          <style>
              .spacing{
                  padding:5%;
                  margin-top: 50px;
              }
          </style>
          <script type="text/javascript" src="http://code.jquery.com/jquery-1.7.1.min.js"></script>
          <script>
              $(document).ready(function(){
                  var url_string = window.location.href;
                  var url = new URL(url_string);
                  var token = url.pathname.toString().substring(7);
                  $("#token").val(token);
                  //console.log(token);
              });
          </script>

</body>
</html>
